:root {
  --dark-grey: #495057;

  --dark-blue: #182458;
  --text-blue: #2f3a69;
  --yellow: #fca311;
  --grey: #868e96;
  --white: #ffffff;
}

/******************************************/
/* Header Section */
/******************************************/
.header {
  height: 6.4rem;
  padding: 0 2.4rem;
  background-color: var(--dark-blue);
  display: flex;
  align-items: center;
}
.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.icon--menu,
.icon--search {
  stroke: var(--white);
  stroke-width: 2px;
}
.logo {
  text-decoration: none;
  color: var(--white);
  font-size: 2.4rem;
  font-weight: 800;
}
/******************************************/
/* Trending Section */
/******************************************/
.trending-section {
  padding-top: 3.2rem;
}
.trending-title {
  color: var(--dark-blue);
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 0.25px;
  margin-bottom: 0.4rem;
}
.trending-text {
  color: var(--text-blue);
  font-size: 1.4rem;
  margin-bottom: 2rem;
  /* font-weight: 500; */
}
.trending-movies-container {
  display: flex;
  gap: 1.2rem;
  overflow: auto;
}

.trending-movie {
  flex: none;
  width: 16rem;
  height: 24rem;
  border-radius: 8px;
  overflow: hidden;
}
.trending-movie-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.trending-movie:hover .trending-movie-img {
  transform: scale(1.1);
}

/******************************************/
/* Movie Detail Section */
/******************************************/
.movie-detail-section {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: var(--white);

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  transform: translateY(100%);
  transition: all 0.3s ease-out;
  overflow: auto;
}

.movie-detail-close {
  position: absolute;
  background: none;
  border: none;
  top: 1.2rem;
  left: 1.2rem;
}
.icon--arrow-left {
  fill: none;
}

.movie-detail-poster {
  width: 100%;
  height: 80%;
}

.movie-detail-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.movie-detail-container {
  margin-top: -2.4rem;
  background-color: var(--white);
  border-radius: 8px;
  padding: 3.2rem;
}
.movie-detail-title {
  color: var(--dark-blue);
  font-size: 1.8rem;
  font-weight: 800;
  letter-spacing: 0.25px;

  margin-bottom: 0.8rem;
}
.movie-detail-rating {
  display: flex;
  align-items: center;

  margin-bottom: 0.8rem;
}
.movie-detail-rate {
  margin-left: 0.8rem;
  font-size: 1.4rem;
  color: var(--dark-blue);
  font-weight: 600;
}

.icon--star {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--yellow);
}
.movie-detail-text {
  color: var(--text-blue);
  font-size: 1.3rem;
}
